@page "/test"
@using DiplomaProject.Services
@using DiplomaProject.Models
@inject TestService TestService
@rendermode InteractiveServer
<h3>TestPage</h3>


@for (int t = 0; t < tests.Count; t++)
{
    var tIndex = t;

    <div>
        <h4>@tests[tIndex].TaskDescription</h4>
        @if (tests[tIndex].CorrectAnswerIndexList.Count > 1)
        {
            <ul>
           
                @for (int i = 0; i < tests[tIndex].TaskAnswers.Count; i++)
                {
                    var iIndex = i;

                    <li>
                        <input type="checkbox"
                               checked="@selectedIndexCheckbox[tIndex][iIndex]"
                               @onchange="e => selectedIndexCheckbox[tIndex][iIndex] = (bool)e.Value" />

                        @tests[tIndex].TaskAnswers[iIndex]
                    </li>
                }
            </ul>
        }
        @if (tests[tIndex].CorrectAnswerIndexList.Count == 1)
        {
            @for (int i = 0; i < tests[tIndex].TaskAnswers.Count; i++)
            {
                var iIndex = i;
                <li>
                    <input type="radio"
                           name="@($"q{tIndex}")"
                           checked="@(selectedIndexRadio[tIndex] == iIndex)"
                           @onchange="e => selectedIndexRadio[tIndex] = iIndex" />
                    @tests[tIndex].TaskAnswers[iIndex]
                </li>
            }
        }

    </div>
}
}
<button class="btn btn-primary" @onclick="HandleClick">
    Check your answers
</button>

@if (showResult)
{
    <h4>Result: @score / @tests.Count</h4>
}


@code {
    List<TestInfo> tests;
    List<List<bool>> selectedIndexCheckbox;
    List<int> selectedIndexRadio;
    protected override void OnInitialized()
    {
        tests = TestService.GetSampleTests();

        selectedIndexCheckbox = new List<List<bool>>();

        foreach (var test in tests)
        {
            var list = new List<bool>();

            foreach (var answer in test.TaskAnswers)
            {
                list.Add(false);
            }

            selectedIndexCheckbox.Add(list);
        }
        selectedIndexRadio = new List<int>();
        foreach (var test in tests)
        {
            selectedIndexRadio.Add(-1);
        }
    }


    int score = 0;
    bool showResult = false; 
    private void HandleClick()
    {
        score = 0;

        for (int t = 0; t < tests.Count; t++)
        {
            bool isCorrect;

            if (tests[t].CorrectAnswerIndexList.Count == 1)
            {
                int correctIndex = tests[t].CorrectAnswerIndexList[0];

                isCorrect = selectedIndexRadio[t] == correctIndex;
            }
            else
            {
                isCorrect = true;

                for (int i = 0; i < tests[t].TaskAnswers.Count; i++)
                {
                    bool mustBeChecked = tests[t].CorrectAnswerIndexList.Contains(i);

                    if (selectedIndexCheckbox[t][i] != mustBeChecked)
                    {
                        isCorrect = false;
                        break;
                    }
                }
            }

            if (isCorrect)
                score++;
        }

        showResult = true;
    }
}